@charset "UTF-8";

:root {
    --dark3: #47525C;
    --dark2: #596673;
    --dark1: #708090;
    --light1: #94A0AC;
    --light2: #D0D6DC;
    --light3: #F9FAFB;
    --blue: #2C88D9;
    --light_blue: #BBD8F2;
    --orange: #F7C325;
    --plot_bg_blue: #DBD8FD;
    --green: #1AAE9F;
    --light_green: #B8F4EE;
    --red: #D3455B;
    --light_red: #ECACB6;
}