{% load static %}

<!DOCTYPE html>
<html>
    
    <head>
        <title>New Airports</title>
        
        <!-- Leaflet JS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
        <link rel="stylesheet" href="{% static 'RouteDev/Maps/map.css' %}">

        <link rel="stylesheet" href="{% static 'HomePage/colors.css' %}">
        <link rel="stylesheet" href="{% static 'NewAirports/NewAirports.css' %}">
        
        <!-- Plotly JS -->
        <script src="https://cdn.plot.ly/plotly-2.18.2.min.js"></script>
    </head>
    
    <body>

        <div id="all-window">
            <div id="map-content">
                <div id="map"></div>
                <script src="{% static 'RouteDev/Maps/map.js' %}"></script>
                {% for city in cities_info %}
                    <script>
                        MAPS_PLOT.init_city_coords("{{ city.LATITUDE }},{{city.LONGITUDE}}");
                        MAPS_PLOT.init_city_names("{{ city.NAME }}");
                        MAPS_PLOT.init_main_color("#1AAE9F");
                    </script>
                {% endfor %}
                <script>
                    MAPS_PLOT.plot_map("{{ general_params_info.SAMPLE_NAME }}", 0, 1, 0);
                </script>
            </div>
            <div id="right-pane">
                <div id="right-pane-title">
                    <h1>NEW AIRPORT CANDIDATES</h1>
                </div>
                <div id="cities">
                    {% for city, div1, div2 in cities_div_info %}
                        <div id="City{{ forloop.counter }}" class="city">
                            <div class="city-title">
                                <h1>{{ city.SHORTENED_NAME }}</h1>
                            </div>
                            <div class="city-info">
                                <h3>FORECASTED DEMAND: {{ city.FORECASTED_DEMAND }}</h3>
                            </div>
                        </div>
                        <div id="CityModal{{ forloop.counter }}" class="CityModal">
                            <div class="modal-content-outer">
                                <div class="close_button">
                                    <span class="close" id="close{{ forloop.counter }}">&times;</span>
                                </div>
                                <div class="modal-content">
                                    <div class="modal-content-info">
                                        <div class="modal-title">
                                            <h1>{{ city.SHORTENED_NAME }}</h1>
                                        </div>
                                        <h4>{{ city.INFO }}</h4>
                                        <h3>PASSENGER DEMAND TILL {{ general_params_info.FORECAST_YEAR }} EXPECTED TO BE AROUND {{ city.FORECASTED_DEMAND }}</h3>
                                    </div>
                                    <div class="modal-content-graphs">
                                        {% autoescape off %}
                                        {{ div1 }}
                                        {{ div2 }}
                                        {% endautoescape %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    <script src="{% static 'NewAirports/NewAirports.js' %}"></script>
                </div>
                <form action="{% url 'NewAirports:NewAirports' %}" method="post" id="params">
                    {% csrf_token %}
                    <div id="params-config">
                        <div class="param-config">
                            <label>FORECAST YEAR:</label>
                            <input type="number" name="NEW_FORECAST_YEAR" id="FORECAST_YEAR" value="{{ general_params_info.FORECAST_YEAR }}" min="2025" max="2043" step="1">
                        </div>
                    </div>
                    <div id="params-submit">
                        <input type="submit" value="UPDATE">
                    </div>
                </div>
            </div>
        </div>

        <div id="back">
            <a href="{% url 'HomePage:HomePage' %}">
                <img src="{% static 'HomePage/HomePage_Pics/back.png' %}" alt="Back">
            </a>
        </div>
    
    </body>
</html>