{% load static %}

<DOCTYPE html>
<html>

    <head>
        <title>About</title>
        <link rel="stylesheet" href="{% static 'HomePage/colors.css' %}">
        <link rel="stylesheet" href="{% static 'About/About.css' %}">
    </head>

    <body>
        <div id="all-window">
            <div id="header">
                <div id="header-title">
                    <h1>ABOUT AIRDASHER</h1>
                </div>
                <div id="header-info">
                    <div id="header-info-content">
                        <h3>ANALYTICAL INTELLIGENCE FOR ROUTE DEVELOPMENT AND STRATEGIC HANDLING OF ECONOMIC RESOURCES</h3>
                    </div>
                </div>
            </div>
            <div id="about-content">
                <h3>AIRDASHER is my submission for the <a href="https://www.hackerearth.com/challenges/hackathon/rolls-royce/">R² Data Labs Responsible Growth Hack</a> for the theme of "Identification of new air travel routes in emerging markets". This proposal makes use of several data sources like India-wide flight network dataset, several city-wise macro-economic factors & Indian railway connectivity dataset to identify airports having high demand & growth. The model then suggests different ways to include the city to an airline's network and also perform cost & resource analysis to judge feasibilty & profitability of such routes. Additionally, AIRDASHER can also help in identifying cities where new airports can potentially be added and also provide insights about the Indian & APAC flight connectivity network.</h3>
                <div id="videos">
                    <iframe width="640" height="360" src="https://www.youtube.com/embed/_wftrsszOh0" title="AIRDASHER | Team π-thon | R² Data Labs Responsible Growth Hackathon" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <h4>Know more about myself & my other works below -</h4>
                <div id="links">
                    <a title="GitHub" href="https://github.com/SakshatRao/AIRDASHER">
                        <img src="{% static 'About/About_Pics/github_logo.png' %}" alt="GitHub">
                    </a>
                    <a title="LinkedIn" href="www.linkedin.com/in/sakshatrao99">
                        <img src="{% static 'About/About_Pics/linkedin_logo.png' %}" alt="LinkedIn">
                    </a>
                    <a title="Personal Portfolio" href="https://sakshatrao.github.io/">
                        <img src="{% static 'About/About_Pics/favicon.ico' %}" alt="Personal">
                    </a>
                    <a title="YouTube" href="https://www.youtube.com/channel/UCLNyeGpbhdH5chNolvsAGsw">
                        <img src="{% static 'About/About_Pics/youtube_logo.png' %}" alt="Personal">
                    </a>
                    <a title="Kaggle" href="https://www.kaggle.com/sakshatrao">
                        <img src="{% static 'About/About_Pics/kaggle_logo.png' %}" alt="Personal">
                    </a>
                </div>
            </div>
        </div>
    </body>

    <div id="back">
        <a href="{% url 'HomePage:HomePage' %}">
            <img src="{% static 'HomePage/HomePage_Pics/back.png' %}" alt="Back">
        </a>
    </div>

</html>