{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Cost & Resource Analysis</title>

        <link rel="stylesheet" href="{% static 'HomePage/colors.css' %}">
        <link rel="stylesheet" href="{% static 'RouteDev/CostResourceAnalysis/CostResourceAnalysis.css' %}">
        
        <!-- Plotly JS -->
        <script src="https://cdn.plot.ly/plotly-2.18.2.min.js"></script>
    </head>
    <body>

        <div id="all-window">
            <div class="options-pane">
                <h1>FEASIBILITY OF NEW ROUTE</h1>
                <div class="options">
                    {% for option, option_total_planes, option_plane_addition_info, option_feasibility, div1, div2, div3 in options_info %}
                        <div id="Option{{ forloop.counter }}" class="non-feasible-option option {{ option_feasibility }}-option">
                            <div class="option-title">
                                <h1>Option {{ forloop.counter }}</h1>
                            </div>
                            <div class="option-info">
                                <h3>PROFT MARGIN: {{ option.PROFIT_MARGIN }}%</h3>
                                <h3>{{ option_total_planes.0 }} Narrowbody + {{ option_total_planes.1 }} Turboprop</h3>
                            </div>
                        </div>
                        <div id="OptionModal{{ forloop.counter }}" class="OptionModal">
                            <div class="modal-content-outer">
                                <div class="close_button">
                                    <span class="close" id="close{{ forloop.counter }}">&times;</span>
                                </div>
                                <div class="modal-content">
                                    <div class="modal-content-left">
                                        <div class="modal-title">
                                            <h1>Option {{ forloop.counter }}</h1>
                                            <div class="modal-title-box {{ option_feasibility }}-box">
                                                <img src="{% static 'RouteDev/RouteDev_Pics/tick.png' %}" alt="Tick">
                                                <img src="{% static 'RouteDev/RouteDev_Pics/cross.png' %}" alt="Cross">
                                                <h2>Feasible</h2>
                                                <h2>Not Feasible</h2>
                                            </div>
                                        </div>
                                        <div class="num-planes-info">
                                            <h3>{{ option_total_planes.0 }} Narrowbody +<br>{{ option_total_planes.1 }} Turboprop</h3>
                                            <div class="num-planes-list">
                                                {% for addition in option_plane_addition_info %}
                                                    <h3>{{ addition.0 }}:</h3>
                                                    <h4>+{{ addition.1 }} Narrowbody, +{{ addition.2 }} Turboprop</h4>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-graph">
                                        {% autoescape off %}
                                        {{ div1 }}
                                        {{ div2 }}
                                        {{ div3 }}
                                        {% endautoescape %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}      
                </div>
            </div>
            <form action="{% url 'RouteDev:CostResourceAnalysis' %}" method="post">
                {% csrf_token %}
                <div class="params-pane">
                    <div class="price-params">
                        <div class="price-params-title">
                            <h2>FARE SELECTION</h2>
                        </div>
                        <div class="price-params-panes">
                            <div class="price-params-panes-content">
                                <h3>Selected Fare for {{ selected_route_info.AIRPORT.AIRPORT_NAME }}&rarr;{{ selected_route_info.CITY.AIRPORT_NAME }}: $<span id="selected_price_in"></span></h3>
                                <div class="slidecontainer">
                                    <input type="range" name="NEW_PRICE_IN" min="{{ min_price_in }}" max="{{ max_price_in }}" value="{{ route_param_info.PRICE_IN }}" class="slider" id="price_in_slider">
                                </div>
                                <p>Market Fare<br>{{ selected_route_info.PRICE_IN_MARKET }}</p>
                            </div>
                            <div class="price-params-panes-content">
                                <h3>Selected Fare for {{ selected_route_info.CITY.AIRPORT_NAME }}&rarr;{{ selected_route_info.AIRPORT.AIRPORT_NAME }}: $<span id="selected_price_out"></span></h3>
                                <div class="slidecontainer">
                                    <input type="range" name="NEW_PRICE_OUT" min="{{ min_price_out }}" max="{{ max_price_out }}" value="{{ route_param_info.PRICE_OUT }}" class="slider" id="price_out_slider">
                                </div>
                                <p>Market Fare<br>{{ selected_route_info.PRICE_OUT_MARKET }}</p>
                            </div>
                        </div>
                    </div>
                    <div class="cost-fleet-panes">
                        <div class="cost-pane">
                            <h2>COST PARAMETERS</h2>
                            <h4>Total Fixed Costs:</h4>
                            <h6>(for Turboprop)</h6>
                            <span class="currencyinput">$<input type="number" name="NEW_FIXED_COST" value="{{ general_param_info.FIXED_COST }}" step="100000" id="FIXED_COST"></span>
                            <h4>Total Operating Costs:</h4>
                            <h6>(for Turboprop per hour)</h6>
                            <span class="currencyinput">$<input type="number" name="NEW_OPERATING_COST" value="{{ general_param_info.OPERATING_COST }}" step="100" id="OPERATING_COST"></span>
                            <h4>Total Other Costs:</h4>
                            <span class="currencyinput">$<input type="number" name="NEW_OTHER_COST" value="{{ general_param_info.OTHER_COST }}" step="10000" id="OTHER_COST"></span>
                            <h4>Minimum Profit<br>Margin Expected:</h4>
                            <span class="currencyinput"><input type="number" name="NEW_MIN_PROFIT_MARGIN" value="{{ general_param_info.MIN_PROFIT_MARGIN }}" step="1" id="MIN_PROFIT_MARGIN"></span>
                        </div>
                        <div class="fleet-pane">
                            <h2>FLEET PARAMETERS</h2>
                            <div class="fleet-subpanes">
                                <div class="fleet-subpane">
                                    <img src="{% static 'RouteDev/RouteDev_Pics/narrowbody.png' %}" alt="Narrowbody">
                                    <h4>NARROWBODY</h4>
                                    <h3>CAPACITY:</h3>
                                    <input type="number" name="NEW_CAPACITY_NARROWBODY" value="{{ general_param_info.CAPACITY_NARROWBODY }}" min="0" max="500" step="20" id="CAPACITY_NARROWBODY">
                                    <h3>AVAILABILITY:</h3>
                                    <input type="number" name="NEW_FLEET_NARROWBODY" value="{{ general_param_info.FLEET_NARROWBODY }}" min="0" max="10" step="1" id="FLEET_NARROWBODY">
                                </div>
                                <div class="fleet-subpane">
                                    <img src="{% static 'RouteDev/RouteDev_Pics/turboprop.png' %}" alt="Turboprop">
                                    <h4>TURBOPROP</h4>
                                    <h3>CAPACITY:</h3>
                                    <input type="number" name="NEW_CAPACITY_TURBOPROP" value="{{ general_param_info.CAPACITY_TURBOPROP }}" min="0" max="500" step="20" id="CAPACITY_TURBOPROP">
                                    <h3>AVAILABILITY:</h3>
                                    <input type="number" name="NEW_FLEET_TURBOPROP" value="{{ general_param_info.FLEET_TURBOPROP }}" min="0" max="10" step="1" id="FLEET_TURBOPROP">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="other-param-pane">
                        <div class="analysis-window">
                            <h3>ANALYSIS POINTS:</h3>
                            <input type="text" name="NEW_ANALYSIS_POINTS" value="{{ general_param_info.ANALYSIS_POINTS }}" id="ANALYSIS_POINTS">
                        </div>
                        <div class="inflation-rate">
                            <h3>INFLATION RATE:</h3>
                            <input type="number" name="NEW_INFLATION_RATE" value="{{ general_param_info.INFLATION_RATE }}" id="INFLATION_RATE">
                        </div>
                    </div>
                    <div class="submit-button">
                        <input type="submit" name="PARAMS_UPDATE" value="UPDATE">
                    </div>
                </div>
            </form>
        </div>
        <script src="{% static 'RouteDev/CostResourceAnalysis/CostResourceAnalysis.js' %}"></script>

        <div id="back">
            <a href="{% url 'HomePage:HomePage' %}">
                <img src="{% static 'HomePage/HomePage_Pics/back.png' %}" alt="Back">
            </a>
        </div>

    </body>
</html>