{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>Route Selection</title>

        <!-- Leaflet JS -->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin=""/>
        <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
        <link rel="stylesheet" href="{% static 'RouteDev/Maps/map.css' %}">
        
        <link rel="stylesheet" href="{% static 'HomePage/colors.css' %}">
        <link rel="stylesheet" href="{% static 'RouteDev/RouteSelection/RouteSelection.css' %}">
        
        <!-- Plotly JS -->
        <script src="https://cdn.plot.ly/plotly-2.18.2.min.js"></script>
    </head>
    <body>

        <div id="all-window">
            <div id="map-content">
                <div id="map"></div>
                <script src="{% static 'RouteDev/Maps/map.js' %}"></script>
                {% for airport in airports_info %}
                    <script>
                        MAPS_PLOT.init_coords("{{ airport.LATITUDE }},{{airport.LONGITUDE}}");
                        MAPS_PLOT.init_names("{{ airport.NAME }}");
                        MAPS_PLOT.init_airport_names("{{ airport.AIRPORT_NAME }}");
                        MAPS_PLOT.init_is_hubs("{{ airport.IS_HUB }}");
                        MAPS_PLOT.init_routes(
                            "{{ airport.LATITUDE }},{{airport.LONGITUDE}}",
                            "{{ selected_city_info.LATITUDE }},{{selected_city_info.LONGITUDE}}"
                        );
                    </script>
                {% endfor %}
                <script>
                    MAPS_PLOT.init_city_coords("{{ selected_city_info.LATITUDE }},{{selected_city_info.LONGITUDE}}");
                    MAPS_PLOT.init_city_names("{{ selected_city_info.NAME }}");

                    MAPS_PLOT.plot_map("{{ general_params_info.SAMPLE_NAME }}", 1, 0, 1);
                </script>
            </div>
            <div id="right-pane">
                <div id="right-pane-title">
                    <h1>NEW ROUTE<br>CANDIDATES</h1>
                </div>
                <div id="routes">
                    {% for route, div in routes_divs_info %}
                    <div id="Route{{ forloop.counter }}" class="route">
                        <div class="route-title">
                            <h1>{{ route.CITY.NAME }} &#x21D4; {{ route.AIRPORT.NAME }}</h1>
                        </div>
                        <div class="route-info">
                            <h3>GROWTH RATE: <b>{{ route.GROWTH }}%</b></h3>
                        </div>
                    </div>
                    <div id="RouteModal{{ forloop.counter }}" class="RouteModal">
                        <div class="modal-content-outer">
                            <div class="close_button">
                                <span class="close" id="close{{ forloop.counter }}">&times;</span>
                            </div>
                            <div class="modal-content">
                                <div class="modal-content-info">
                                    <div class="modal-title">
                                        <div class="modal-title-header1">
                                            <h1>{{ route.CITY.AIRPORT_NAME }}</h1>
                                            <h1>&harr;</h1>
                                            <h1>{{ route.AIRPORT.AIRPORT_NAME }}</h1>
                                        </div>
                                        <div class="modal-title-header2">
                                            <h2>{{ route.CITY.NAME }}</h2>
                                            <h3>DISTANCE: {{ route.DISTANCE }} MILES<br>DURATION: {{ route.DURATION }} MINS</h3>
                                            <h2>{{ route.AIRPORT.NAME }}</h2>
                                        </div>
                                        <!-- <div class="modal-title-header3">
                                            <h3>( DURATION: {{ route.DURATION }} MINS , DISTANCE: {{ route.DISTANCE }} MILES )</h3>
                                        </div> -->
                                    </div>
                                    <div class="market-info">
                                        <h2>MARKET INFORMATION:</h2>
                                        <div class="market-info-content">
                                            <div class="market-info-table">
                                                <table>
                                                    <tr>
                                                        <th></th>
                                                        <th>{{ route.CITY.AIRPORT_NAME }}&rarr;{{ route.AIRPORT.AIRPORT_NAME }}</th>
                                                        <th>{{ route.AIRPORT.AIRPORT_NAME }}&rarr;{{ route.CITY.AIRPORT_NAME }}</th>
                                                    </tr>
                                                    <tr>
                                                        <th>EXISTING FLIGHTS</th>
                                                        <td>{{ route.NUM_OUT_MARKET }}</td>
                                                        <td>{{ route.NUM_IN_MARKET }}</td>
                                                    </tr>
                                                    <tr>
                                                        <th>FARES</th>
                                                        <td>{{ route.PRICE_OUT_MARKET }}</td>
                                                        <td>{{ route.PRICE_IN_MARKET }}</td>
                                                    </tr>
                                                </table>
                                            </div>
                                            <div class="market-railways">
                                                <h5>RAILWAY CONNECTIVITY FOR {{ route.CITY.AIRPORT_NAME }}&harr;{{ route.AIRPORT.AIRPORT_NAME }}</h5>
                                                <div class="market-railways-info">
                                                    <img src="{% static 'RouteDev/RouteDev_Pics/train.png' %}" alt="Train">
                                                    <h6>{{ route.RAILWAYS_NUM }} TRAINS, DURATION: {{ route.RAILWAYS_DURATION }} MINS<br>TOTAL CAPACITY: {{ route.RAILWAYS_CAPACITY }}</h6>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>PASSENGER DEMAND TILL {{ general_param_info.FORECAST_YEAR }} EXPECTED TO GROW BY {{ route.GROWTH }}%</h3>
                                    <form action="{% url 'RouteDev:CostResourceAnalysis' %}" method="post" class="select-route">
                                        {% csrf_token %}
                                        <button name="SELECTED_ROUTE_{{ route.CITY.NAME }}_{{ route.AIRPORT.AIRPORT_NAME }}">SELECT ROUTE</button>
                                    </form>
                                </div>
                                <div class="modal-content-graphs">
                                    {% autoescape off %}
                                    {{ div }}
                                    {% endautoescape %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <script src="{% static 'RouteDev/RouteSelection/RouteSelection.js' %}"></script>
                </div>
            </div>
        </div>
        
        <div id="back">
            <a href="{% url 'HomePage:HomePage' %}">
                <img src="{% static 'HomePage/HomePage_Pics/back.png' %}" alt="Back">
            </a>
        </div>

    </body>
</html>